VITE_SUPABASE_URL=https://iadzciccxmixtwnmccgs.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZHpjaWNjeG1peHR3bm1jY2dzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MTc3NjQsImV4cCI6MjA5ODQ5Mzc2NH0.ezJ1XzqvMxC1meI1XLKFh29F6qlFqN7n__xQQE2iQnU
VITE_BASE_PATH=/familyfund-tracker/
